02_HISAT2/TrimGalore_Ver/All_Control/SRR3884686/SRR3884686_All_Control_trimmed_mapped.sam
02_HISAT2/index/TEST_index.1.ht2
02_HISAT2/index/TEST_index.2.ht2
02_HISAT2/index/TEST_index.3.ht2
02_HISAT2/index/TEST_index.4.ht2
02_HISAT2/index/TEST_index.5.ht2
02_HISAT2/index/TEST_index.6.ht2
02_HISAT2/index/TEST_index.7.ht2
02_HISAT2/index/TEST_index.8.ht2
02_HISAT2/*
00_Raw_Files_and_FastQC/*
01_Trimmed_TrimGalore_Ver/*
4b_stringtie_TrimGalore_Ver_20250919_041401.tar.gz
file_copier.sh
file_copier.sh
file_copier.sh
5_stringtie/method_2.2_count_matrices/