.vscode/launch.json

4b_Method_2_HISAT2_De_Novo/.Rhistory
4b_Method_2_HISAT2_De_Novo/.RData
4b_Method_2_HISAT2_De_Novo/z_archive/*
4b_Method_2_HISAT2_De_Novo/index/*
4b_Method_2_HISAT2_De_Novo/4_HISAT2_WD/index/*
4b_Method_2_HISAT2_De_Novo/5_stringtie_WD/a_Method_2_RAW_RESULTs/*
4b_Method_2_HISAT2_De_Novo/5_stringtie_WD/b_Method_2_COUNT_MATRICES/*
4b_Method_2_HISAT2_De_Novo/6_Heatmap_Visualizations/*

z_ARCHIVE/*

logs/*
