.vscode/launch.json

fasterq.tmp*
1_RAW_SRR/PRJNA865018_SraRunTable(1).csv
1_RAW_SRR/SAMN28540068_SraRunTable(1).csv
1_RAW_SRR/*

2_TRIMMED_SRR/* 

4b_Method_2_HISAT2_De_Novo/.Rhistory
4b_Method_2_HISAT2_De_Novo/.RData
4b_Method_2_HISAT2_De_Novo/z_archive/*
4b_Method_2_HISAT2_De_Novo/index/*
4b_Method_2_HISAT2_De_Novo/4_HISAT2_WD/index/*
4b_Method_2_HISAT2_De_Novo/5_stringtie_WD/a_Method_2_RAW_RESULTs/*
4b_Method_2_HISAT2_De_Novo/5_stringtie_WD/b_Method_2_COUNT_MATRICES/*
4b_Method_2_HISAT2_De_Novo/6_Heatmap_Visualizations/*

z_ARCHIVE/*

logs/*
4b_Method_2_HISAT2_De_Novo/Sample_SmelGIF_with_Best_Control_Cyclo_tpm_counts_geneName_Organ_zscore_normalized_heatmap.png
4b_Method_2_HISAT2_De_Novo/logs/*